body {
  background: white;
}

h1 {
  color: red;
}

.main {
  margin: auto;
  width: 50%;
  /* border: 2px solid black; */
  padding: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}